body {width: 500px; }
container1 {
    display: flex; 
    flex-direction: row;
    height: 70px; 
    width: 700px;
    justify-content: space-around;
    align-items: center; 
    border: 2px solid rgb(76, 171, 202);
padding: 10px;}
box {height: 50px;
    width: 50px; 
    /* padding: 0px; */
    /* margin: 5px; */
    /* margin-left: 5px; */
    
background: rgb(76, 171, 202);}
container2 {
    display: flex; 
    flex-direction: row;
    height: 70px; 
    width: 700px;
    justify-content: space-around;
    align-items: center; 
    border: 2px solid rgb(76, 171, 202);
    background: rgb(253, 183, 136);
padding: 10px;}
box2 {background: purple; 
    height: 50px;
    width: 50px; }